{%- liquid
  assign shop_url = routes.all_products_collection_url
  assign collections_url = routes.collections_url
  assign about_url = '/pages/about'
-%}
{%- comment -%}
  Static snippet references for Theme Check.
  These helpers are retained for alternate mega-menu compositions and JS data wiring.
{%- endcomment -%}
{%- capture mega_menu_helper_references -%}
  {%- render 'mega-menu-data' -%}
  {%- render 'mega-menu-group', href: routes.all_products_collection_url, title: 'Shop' -%}
  {%- render 'mega-menu-preview', group_handle: 'shop', title: 'Shop' -%}
  {%- render 'mega-menu-featured', href: '/pages/compare', title: 'Compare' -%}
{%- endcapture -%}
{% if mega_menu_helper_references == blank %}{% endif %}
<div class="mega-menu" data-mega-menu>
  <ul class="mega-menu-nav-list" role="list">
    <li class="mega-menu-nav-item" data-mega-item="shop">
      <a href="{{ shop_url }}" class="mega-menu-trigger" data-mega-trigger="shop" aria-expanded="false" aria-controls="mega-menu-panel-shop">
        <span>Use cases</span>
      </a>
    </li>
    <li class="mega-menu-nav-item" data-mega-item="collections">
      <a href="{{ collections_url }}" class="mega-menu-trigger" data-mega-trigger="collections" aria-expanded="false" aria-controls="mega-menu-panel-collections">
        <span>Categories</span>
      </a>
    </li>
    <li class="mega-menu-nav-item" data-mega-item="compare">
      <button
        type="button"
        class="mega-menu-trigger mega-menu-trigger--plain"
        data-mega-trigger="compare"
        aria-expanded="false"
        aria-controls="mega-menu-panel-compare"
      >
        <span>Compare</span>
      </button>
    </li>
    <li class="mega-menu-nav-item" data-mega-item="explore">
      <button
        type="button"
        class="mega-menu-trigger mega-menu-trigger--plain"
        data-mega-trigger="explore"
        aria-expanded="false"
        aria-controls="mega-menu-panel-explore"
      >
        <span>Support</span>
      </button>
    </li>
    <li class="mega-menu-nav-item" data-mega-item="resources">
      <button
        type="button"
        class="mega-menu-trigger mega-menu-trigger--plain"
        data-mega-trigger="resources"
        aria-expanded="false"
        aria-controls="mega-menu-panel-resources"
      >
        <span>Resources</span>
      </button>
    </li>
    <li class="mega-menu-nav-item">
      <a href="{{ about_url }}" class="mega-menu-trigger mega-menu-trigger--plain">
        <span>About</span>
      </a>
    </li>
  </ul>

  <div class="mega-menu-backdrop" data-mega-backdrop hidden></div>
  <div class="mega-menu-panels" data-mega-panels>
    {% render 'mega-menu-panel', group_handle: 'shop' %}
    {% render 'mega-menu-panel', group_handle: 'collections' %}
    {% render 'mega-menu-panel', group_handle: 'compare' %}
    {% render 'mega-menu-panel', group_handle: 'explore' %}
    {% render 'mega-menu-panel', group_handle: 'resources' %}
  </div>
</div>
