<section class="section-shell">
  <div class="container-shell">
    <h1 class="section-heading">Cart</h1>
    <div class="mt-8 card-shell">
      {{ content_for_layout }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Main cart",
  "settings": []
}
{% endschema %}
